{% extends 'main/base-k.html' %}
{% load static %}

{% block title_block %}
ELSA Context Repository
{% endblock %}

{% block main_header_block %}
ELSA Context Repository
{% endblock %}

{% block body_block %}
<table>
    <tr><a href="{% url 'context:investigations' %}">
        <button class="btn btn-indigo mb-3">Investigations</button></a></tr>
    <tr><a href="{% url 'main:construction' %}">
        <button class="btn btn-indigo mb-3">Instrument Hosts</button></tr>
    <tr><a href="{% url 'main:construction' %}">
        <button class="btn btn-indigo mb-3">Instruments</button></tr>
    <tr><a href="{% url 'main:construction' %}">
        <button class="btn btn-indigo mb-3">Targets</button></tr>

</table>
{% endblock %}
